@skysync:registry=https://pkgs.dev.azure.com/skysync/skysync/_packaging/skysync/npm/registry/
; begin auth token
//pkgs.dev.azure.com/skysync/skysync/_packaging/skysync/npm/registry/:username=skysync
//pkgs.dev.azure.com/skysync/skysync/_packaging/skysync/npm/registry/:_password=${NPM_ARTIFACTS_FEED_TOKEN}
//pkgs.dev.azure.com/skysync/skysync/_packaging/skysync/npm/registry/:email=build@skysync.com
//pkgs.dev.azure.com/skysync/skysync/_packaging/skysync/npm/:username=skysync
//pkgs.dev.azure.com/skysync/skysync/_packaging/skysync/npm/:_password=${NPM_ARTIFACTS_FEED_TOKEN}
//pkgs.dev.azure.com/skysync/skysync/_packaging/skysync/npm/:email=build@skysync.com
; end auth token
always-auth=true
